@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'bush script mt', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 4rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'lucida handwriting', cursive;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--brown);
    cursor: pointer;
   
}
.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}


.home {
    min-height: 650px;
    display: flex;
    align-items: center;
    background: url(images/back.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .homeContent{
    width: 40%;
    float: left;
    text-align: center;
    padding: 2rem;
}
.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}
.detail-btn button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}

.contact {
    padding: 35px;
    background: url(images/backGround.png);
    background-size: cover;
    text-align: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: center; 
    justify-items: center; 
}

.contact .content {
    grid-column: span 2; 
    margin-bottom: 20px;
  height: 150px;
}

.contact .content img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.contact p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.contact .box {
    margin-top: 35px;
    text-align: left; 
}


.contact .box h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.contact .box a {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact .box a:hover {
    color: #ff6600;
}

.contact .box a i {
    margin-right: 10px;
}

.contact .share {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contact .share a {
    display: inline-block;
    margin-right: 10px;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.contact .share a:hover {
    color: #ff6600;
}

.contact .credit {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.contact .credit span {
    font-weight: bold;
}
.contact.contant h1{
    font-size: 25px;
}


.about {
    min-height: 650px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: url(images/backGround.png) no-repeat;
    background-size: cover;
    background-position: center;
   
}
.about .aboutContent{
    width: 40%;
    float: center;
    text-align: center;
    padding: 10px;
}
.about.aboutContent h1{
    font-size: 80px;
    margin-bottom: 10px;
    color: var(--black);
    text-align:center ;
}
.about .aboutContent p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 2rem;
    text-align:center ;
    align-items: center;
}

section{
    padding: 2rem 7%;
    background-color: rgb(128, 128, 128);

}
.heading{
    text-align: center;
    font-size: 45px;
    margin-bottom: 3px;
    color: var(--black);
    margin-top: 60px;
}

.heading1{
    text-align: left;
    font-size: 30px;
    margin-bottom: 3px;
    color: var(--black);
    margin-top: 100px;
    
}
.product .product-row{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.product .product-row .box{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    text-align: center;
    padding: 2px;
    gap: 1.5px;
    border-radius: 3px;
    margin-right: 3px;
}
.product .product-row .img img{
    height: 150px;
    width: 150px;
}
.product .product-row .img img:hover{
    transform: scale(1.1);
}
.product .product-row .content {
    margin-bottom: 4rem;
}
.product .product-row .product-content h3{
    font-size: 40px;
    color: var(--black);
}
.product .product-row .product-content p{
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
}
.product .product-row .product-content .orderNow{
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.product .product-row .product-content .orderNow button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}
.product .product-row .product-content .orderNow button:hover{
    font-size: 2rem;
}

#product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.product-details {
    text-align: center;
    align-items: center;
    max-width: 80%;
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#product-image {
    max-width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

#product-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#product-price {
    font-size: 18px;
    margin-bottom: 10px;
}

#product-desc {
    font-size: 16px;
    line-height: 1.5;
}
#product h4 {
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
}






.footer {
    background: url(images/backGround.png) no-repeat;
    background-size: cover;
    background-position: center;
   height: 80px;
   text-align: center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
    height: 600px;
}
.footer .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;

}
.footer .share a:hover{
    background: var(--white);
    color: var(--black);
}
.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-align: center;
    
}


.swiper-pagination-bullet{
    background-color: var(--black);
}
.swiper-button-next{
    color: var(--black);
}
.swiper-button-prev{
    color: var(--black);
}


/* media queries for web responsive */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}

